body {
    font-family: 'Droid Sans', sans-serif;
}

.cabecera-agenda {
    font-size: 18px;
    background-color: #206123;
    color: white;
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
    padding: 3px 0px;
}

.cabecera {
    width: 100%;
}

table {
    border-collapse: separate;
    width: 100%;
    text-align: center;
    margin-top: 15px;
}

th {
    background-color: #4caf50;
    color: white;
}

table th:first-child {
    border-top-left-radius: 10px;
}

table th:last-child {
    border-top-right-radius: 10px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: lightgrey;
}

.patines {
    background-color: #008080;
    color: white;
}

@media only screen and (max-width: 760px) {
    table, th, td, tr {
        display: block;
    }

    th {
        background-color: aqua;
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    td {
        position: relative;
        padding-left: 60%;
    }

    td:before {
        position: absolute;
        left: 5%;
        width: 45%;
        white-space: nowrap;
    }

    /*td:nth-of-type(1):before { content: "Modalidad"; }
    td:nth-of-type(2):before { content: "Competición";}
    td:nth-of-type(3):before { content: "Fecha"; }
    td:nth-of-type(4):before { content: "Hora"; }
    td:nth-of-type(5):before { content: "Logo"; }
    td:nth-of-type(6):before { content: "Local"; }
    td:nth-of-type(7):before { content: "Logo"; }
    td:nth-of-type(8):before { content: "Visitante"; }
    td:nth-of-type(9):before { content: "Resultado"; }
    td:nth-of-type(10):before { content: "Pista"; }*/

    td:before {
        content: attr(data-label);
        text-align: left;
    }

}