body {
    font-family: 'Droid Sans', sans-serif;
}

.cabecera-agenda {
    font-size: 18px;
    background-color: #206123;
    color: white;
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
    padding: 3px 0;
}

.header{
    position: relative;
    float: left;
    width: 100%;
}

.cabecera {
    width: 100%;
}

table {
    border-collapse: separate;
    width: 100%;
    text-align: center;
    margin-top: 15px;
}

th {
    background-color: #4caf50;
    color: white;
}

table th:first-child {
    border-top-left-radius: 10px;
}

table th:last-child {
    border-top-right-radius: 10px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: lightgrey;
}

.patines {
    background-color: #008080;
    color: white;
}

@media only screen and (max-width: 760px) {

    table {
        border: 0;
    }

    th {
        display: none;
        border-bottom: 0;
    }

    tr {
        margin-bottom: 10px;
        display: block;
        border-bottom: 2px solid #ddd;
    }

    tr:hover {
        background-color: transparent;
    }

    td {
        display: block;
        text-align: right;
        border-bottom: 1px dotted #cccccc;
    }

    td:first-child {
        border-bottom: 0;
    }

    td:last-child {
        border-bottom: 0;
    }

    td:before {
        content: attr(data-label);
        float: left;
        text-transform: uppercase;
        font-weight: bold;
        width: 50%;
        text-align: left;
    }



}