body {
    font-family: 'Droid Sans', sans-serif;
}

.cabecera-agenda {
    font-size: 18px;
    background-color: #206123;
    color: white;
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
    padding: 3px 0px;
}

.cabecera {
    width: 100%;
}

table {
    border-collapse: separate;
    width: 100%;
    text-align: center;
    margin-top: 15px;
}

th {
    background-color: #4caf50;
    color: white;
}

table th:first-child {
    border-top-left-radius: 10px;
}

table th:last-child {
    border-top-right-radius: 10px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: lightgrey;
}

.patines {
    background-color: #008080;
    color: white;
}

@media only screen and (max-width: 760px) {
    /*table, th, td, tr {
        display: block;
    }

    table {
        border: 1px solid dimgrey;
        width: 100%;
    }

    th {
        display: none;
    }

    tr {
        margin-bottom: 5px;
    }

    td {
        position: relative;
        padding-left: 60%;
    }

    td:before {
        position: absolute;
        left: 5%;
        width: 45%;
        white-space: nowrap;
    }

    td:before {
        content: attr(data-label);
        text-align: left;
        font-weight: bold;
    }

    td:after {
        border-right: 1px solid dimgrey;
    }



    td:nth-of-type(5):before { border-top: 2px solid dimgrey; width: 90%; }
    td:nth-of-type(7):before { border-top: 1px solid dimgrey; width: 90%; }
    td:nth-of-type(9):before { border-top: 2px solid dimgrey; width: 90%; }*/

    table {
        border: 0px;
    }

    th {
        display: none;
        border-bottom: 0;
    }

    tr {
        margin-bottom: 10px;
        display: block;
        border-bottom: 2px solid #ddd;
    }

    tr:hover {
        background-color: transparent;
    }

    td {
        display: block;
        border-bottom: 1px dotted #cccccc;
    }

    td:first-child {
        border-bottom: 0;
    }

    td:last-child {
        border-bottom: 0;
    }

    td:before {
        content: attr(data-label);
        float: left;
        text-transform: uppercase;
        font-weight: bold;
        width: 50%;
        text-align: left;
        border-right: 7px solid black;
        overflow-wrap: break-word;
    }

    /* TODO con esta ñapa el separador de puntos no ocupa el 100% del ancho */

    td:nth-child(5) {
        text-align: right;
        margin-right: 21%;
    }
    td:nth-child(7) {
        text-align: right;
        margin-right: 21%;
    }


    /* TODO  El segundo child, al desbordar la ventana y pasar a siguiente línea, va al centro */



}